
<h3>
  <a [routerLink]="'home'">Home</a> / 
  <span *ngIf="!id">Add</span>
  <span *ngIf="id != 0">Update</span> 
  Book
</h3>
<form (ngSubmit)="addOrUpdateBook()">
  <label for="title">Title:</label><br>
  <input type="text" [(ngModel)]="newBook.name" name="title"><br>
  <label for="author">Author:</label><br>
  <select [(ngModel)]="newBook.author" name="author">
    <option *ngFor="let author of authors" [ngValue]="author">
      {{ author.name }}
    </option>
  </select><br>
  <label for="price">Book Price:</label><br>
  <input type="text" [(ngModel)]="newBook.price" name="price"><br>
  <label for="publisher">Publisher:</label><br>
  <input type="text" [(ngModel)]="newBook.publisher" name="publisher"><br>
  <label for="quantity">Stock Quantity:</label><br>
  <input type="text" [(ngModel)]="newBook.quantity" name="quantity"><br>
  <label for="location">Location:</label><br>
  <select [(ngModel)]="newBook.location" name="location">
    <option *ngFor="let location of locations" [ngValue]="location">
      {{ location.block }}-{{ location.bay_side }}-{{ location.floor }}-{{ location.shelf }}
    </option>
  </select><br>
  <br>
  <button type="submit">
    <span *ngIf="!id">Add</span><span *ngIf="id != 0">Update</span>  
  </button>
</form>
<div [ngClass]="{
  'success':status === 200,
  'failure':status === 500}">
  <p *ngIf="status === 200">Success!</p>
  <p *ngIf="status === 500">Failed!</p>
</div>